.tag {
  display: inline-block;
  background-color: var(--grey-200);
  color: var(--grey-600);
  font-size: 0.75em;
  font-weight: var(--font-medium);
  letter-spacing: 0.08em;
  border-radius: 4px;
  padding: 0.125em 0.25em;
}
