.rumorCardWrapper {
    background: #EDF3F7;
    border-radius: 4px;
    padding: 44px 66px;
}

.rumorCard {
    background: #FFFFFF;
    border: 2px solid #E0E8F0;
    border-radius: 20px;
    padding: 20px 32px;
}

.rumorCardTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #297FD0;
    text-align: center;
}

.rumorCardHr {
    margin: 16px 0;
    border: 1px solid #EDF3F7;
}

.rumorCardPublisherName {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #485465;
    margin-right: 12px;
}

.rumorCardCompanyName {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.rumorCardSupportText {
    color: #9FAEBF;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 16px 0;
}

.rumorCardPrice {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #738195;
    vertical-align: middle;
}

.rumorCardPriceAmount {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #1D2A37;
    margin: 0 8px;
}