.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em 0.75em;
  border-radius: 0.25em;
  cursor: pointer;
}

.button p {
  font-size: 1rem;
  font-weight: var(--font-medium);
  line-height: 1.25rem;
}

.button svg {
  margin-right: 0.5em;
}

/* VARIANTS */

/* variant="primary" */

.primary {
  background-color: var(--blue-600);
  color: var(--blue-200);
  border: 2px solid var(--blue-600);
}

.primary p {
  color: var(--white);
}

.primary:hover,
.primary:focus {
  background-color: var(--blue-500);
  color: var(--white);
  border: 2px solid var(--blue-500);
}

/* variant="secondary" */

.secondary {
  background-color: var(--blue-100);
  color: var(--blue-400);
  border: 2px solid var(--blue-300);
}

.secondary p {
  color: var(--blue-600);
}

.secondary:hover,
.secondary:focus {
  background-color: var(--blue-200);
  color: var(--blue-500);
  border: 2px solid var(--blue-600);
}

/* variant="tertiary" */

.tertiary {
  background-color: var(--white);
  color: var(--grey-500);
  border: 2px solid var(--white);
}

.tertiary p {
  color: var(--blue-600);
}

.tertiary:hover,
.tertiary:focus {
  background-color: var(--grey-200);
  color: var(--grey-600);
  border: 2px solid var(--grey-200);
}

.button:disabled {
  background-color: var(--grey-300);
  color: var(--grey-500);
  border: 2px solid var(--grey-300);
  cursor: not-allowed;
}

.button:disabled p {
  color: var(--grey-500);
}
