.statusMessage {
  padding: 1em 0 0.5em;
  font-weight: var(--font-medium);
  text-align: center;
}

.loading {
  color: var(--grey-600);
}

.error {
  color: var(--red-700);
}

.success {
  color: var(--green-700);
}
